ul.nav.nav-pills.nav-justified.mb-4(role='tablist')
    li.nav-item(role='presentation')
        button.nav-link.active.height-60.radius-20.border.bg-green.text-white(data-bs-toggle='pill' data-bs-target='#tabInventory' role='tab' aria-controls='tabInventory' aria-selected='true') Inventario
    li.nav-item(role='presentation')
        button.nav-link.height-60.radius-20.border.bg-green.text-white(data-bs-toggle='pill' data-bs-target='#tabHistory' role='tab' aria-controls='tabHistory' aria-selected='false') Historial
.tab-content
    .tab-pane.fade.show.active#tabInventory(role='tabpanel' tabindex='0')
        .row
            .col-6.col-sm-6.col-md-6.col-lg-4.col-xl-3.col-xxl-3.mb-4
                input.form-control.input-style(type='text' placeholder='Buscar por nombre' autocomplete='off' onkeyup='filterInventory(this.value)')
            .col-6.col-sm-6.col-md-6.col-lg-8.col-xl-9.col-xxl-9.mb-4.text-end
                button.btn.text-white.btn-style.font-16.bg-green(data-bs-toggle='modal' data-bs-target='#modalAddInventory') Agregar
        #contentInventory
            each val in inventory
                .row.mb-4.mx-1.radius-20.bg-row(id=val.id)
                    .col-6
                        input.form-control.border-0.bg-transparent.text-center.my-3.name-inventory(type='text' placeholder='Nombre' autocomplete='off' value=val.name onchange='updateInventory("'+val.id+'","name",this.value)')
                    .col-4
                        input.form-control.border-0.bg-transparent.text-center.my-3(type='text' placeholder='Precio' autocomplete='off' value=val.price onchange='updateInventory("'+val.id+'","price",this.value)')
                    .col-2.text-center
                        i.fa-solid.fa-dollar-sign.color-green.cursor-pointer.font-20.pt-4.me-3(onclick='showModalSellItem("'+val.id+'","'+val.name+'",'+val.price+')')
                        i.fa-solid.fa-trash.text-danger.cursor-pointer.font-20.pt-4(onclick='showModalDeleteInventory("'+val.id+'","'+val.name+'")')
    .tab-pane.fade#tabHistory(role='tabpanel' tabindex='0')
        .row
            .col-md-3.mb-4
                label.form-label.color-green.fw-bold(for='inventoryHistoryStartDate') Fecha de inicio
                input.form-control.input-style#inventoryHistoryStartDate(type='date' placeholder='' min='2023-08-10', max=maxDate onchange='filterInventoryHistory()')
            .col-md-3.mb-4
                label.form-label.color-green.fw-bold(for='inventoryHistoryEndDate') Fecha de fin
                input.form-control.input-style#inventoryHistoryEndDate(type='date' placeholder='' min='2023-08-10' max=maxDate onchange='filterInventoryHistory()')
        #contentInventoryHistory
.modal.fade#modalAddInventory(tabindex='-1' data-bs-backdrop='static' data-bs-keyboard='false')
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
        .modal-content
            .modal-header
                h5.modal-title.color-green.fw-bold Agregar artículo
            .modal-body
                .mb-4
                    input.form-control.input-style.new-inventory#nameInventory(type='text' placeholder='Nombre...' autocomplete='off')
                .row
                    .col-6.mb-5
                        input.form-control.input-style.new-inventory#priceInventory(type='text' placeholder='Precio...' autocomplete='off')
                .text-center
                    button.btn.text-white.btn-cancel.font-16.me-3.color-green(onclick='cleanAddInventory()') Cancelar
                    button.btn.text-white.btn-style.font-16.bg-green#btnAddInventory(onclick='addInventory()') Agregar
.modal.fade#modalSellItem(tabindex='-1' data-bs-backdrop='static' data-bs-keyboard='false')
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
        .modal-content
            .modal-body
                br
                .row
                    .col-12.mb-3
                        p.font-17.fw-bold#textNameSellItem
                    .col-8.mb-5
                        input.form-control.input-style#inputPriceSellItem(type='text' placeholder='Precio...' autocomplete='off')
                    .col-4.mb-5.text-end
                        i.fa-solid.fa-calculator.text-dark.cursor-pointer.font-60(onclick='showHideCalculator()')
                #divCalculator.d-none
                    .calculator-grid.mb-5
                        .output
                            .previous-operand(data-previous-operand)
                            .current-operand(data-current-operand)
                        button.btn.border.font-16.span-three(data-all-clear) AC
                        button.btn.border.font-16(data-operation) /
                        button.btn.border.font-16(data-number) 7
                        button.btn.border.font-16(data-number) 8
                        button.btn.border.font-16(data-number) 9
                        button.btn.border.font-16(data-operation) *
                        button.btn.border.font-16(data-number) 4
                        button.btn.border.font-16(data-number) 5
                        button.btn.border.font-16(data-number) 6
                        button.btn.border.font-16(data-operation) -
                        button.btn.border.font-16(data-number) 1
                        button.btn.border.font-16(data-number) 2
                        button.btn.border.font-16(data-number) 3
                        button.btn.border.font-16(data-operation) +
                        button.btn.border.font-16.span-two(data-number) 0
                        button.btn.border.font-16(data-number) .
                        button.btn.border.font-16(data-equals) =
                .text-center
                    button.btn.text-white.btn-cancel.font-16.me-3.color-green(data-bs-dismiss='modal') Cancelar
                    button.btn.text-white.btn-style.font-16.bg-green#btnSellItem Vender